.h-title {
  color: red;
  font-weight: bold;
  font-size: 30px;
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/